@import 'assets/colors/colors';

.button {
  background-color: $gold;
  height: 40px;
  width: 240px;
  display: inline-block;
  margin: 2px;
  color: $dark-grey;
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;

  p {
    line-height: 40px;
    margin: auto;
  }

  &.round {
    background-color: unset;
    border-radius:50%;
    width:32px;
    height:32px;
    border: 4px solid $old-gold;
    color:$old-gold;

    p {
      color: $old-gold;
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
    }

    &.disabled {
      border-color: $old-gold-dark;

      p {
        color: $old-gold-dark;
      }
    }

    &.active {
      border-color: $old-gold;
      background-color: $old-gold;

      p {
        color: $dark-grey;

      }
    }
  }

  &.inactive {
    color: $french-grey;
    background: $geyser-grey;
  }

  &.hover {
    color: $nevada-grey;
    background: $light-gold;
  }

  &.focused {
    background-color: $mustard-gold;
  }

  &.check {
    i {
      display: inline-block;
      margin: 1em 0;
    }
  }

  &.dark {
    border: 3px solid $gold;
    background-color: $dark-grey;
    height: 34px;
    width: 234px;
    color: $gold;

    p {
      margin: -2px auto;
    }

    &.hover {
      color: $tulip-yelow;
      background: $shadow-grey;
    }

    &.focused {
      background-color: $gold;
      color: $dark-grey;
    }
  }










}
