// body background color
$dark-grey: #4a4f53; // rgb(74,79,83)

// Round Buttons
// Disabled
$old-gold-dark: #908244; // rgb(144, 130, 68)
// Normal and active
$old-gold: #d6b62e; // rgb(214,182,46)


// Square Buttons

// Inactive
$french-grey: #b9bdc5; // rgb(185,189,197); - inactive fonts
$geyser-grey: #dfe4e9; // rgb(223,228,233) - inactive background

// Button-gold
$gold: #f6d137; // rgb(246,209,55)
// hover
$light-gold: #f7db63; // rgb(247,219,99); - hover background
$nevada-grey: #6e7275; // rgb(110,114,117) - hover font
// active
$mustard-gold: #c4a72d; // rgb(196,167,45)

// Button-dark
// hover
$shadow-grey: #8f824b; // rgb(143, 130, 75) - hover background
$tulip-yelow: #e2bf31; // rgb(226, 191, 49) - hover font
